In [1]:
import pyspark
import os

myConf=pyspark.SparkConf()
spark = pyspark.sql.SparkSession.builder.master('local').appName('myApp').config(conf=myConf).getOrCreate()

In [23]:
_data = ["'김하나','English',100",
         "'김하나','Math',80",
         "'임하나','English',70",
         "'임하나','Math',100",
        "'김갑돌','English',82.3",
         "'김갑돌','Math',98.5"]

_dataRdd=spark.sparkContext.parallelize(_data)

# * 문제 3-1: 이름으로 합계를 구해보자.

In [26]:
_dataRdd = _dataRdd.map(lambda x:x.split(',')).map(lambda x: (x[0],float(x[2]))).reduceByKey(lambda x,y: x+y).collect()

In [27]:
for i in _dataRdd:
    print(i[0],i[1])

'김하나' 180.0
'임하나' 170.0
'김갑돌' 180.8

## 문제 3-1 : 정답

In [237]:
for i,j in sorted(avebyname.collect(),reverse=True):
    print(i,j)

임하나 170
김하나 180
김갑돌 180.8

# * 문제 3-2: 과목으로 합계를 구해보자.

In [29]:
_dataRdd=spark.sparkContext.parallelize(_data)

In [32]:
_dataRdd = _dataRdd.map(lambda x: x.split(',')).map(lambda x : (x[1],float(x[2]))).reduceByKey(lambda x,y : x+y).collect()

## 문제 3-2 : 정답

In [38]:
for i in _dataRdd:
    print(i[0],i[1])

'English' 252.3
'Math' 278.5

# * 문제 3-3: 이름으로 합계와 개수를 구해보자.

In [45]:
_dataRdd=spark.sparkContext.parallelize(_data)
quest3 = _dataRdd.map(lambda x : x.split(',')).map(lambda x: (x[0], float(x[2])))

In [46]:
sumbyave = quest3.combineByKey(lambda value: (value,1),
                             lambda x,value: (x[0]+value, x[1]+1),
                             lambda x,y: (x[0]+y[0], x[1]+y[1]))

## 문제 3-3 : 정답

In [49]:
for i,j in sorted(sumbyave.collect(),reverse=True):
    print(i,j)

'임하나' (170.0, 2)
'김하나' (180.0, 2)
'김갑돌' (180.8, 2)

# * 문제 3-4: 이름으로 평균을 구해보자.

In [50]:
quest4 = sumbyave.map(lambda x: (x[0],x[1][0]/x[1][1]))

## 문제 3-4 : 정답

In [51]:
for i,j in sorted(quest4.collect(),reverse=True):
    print(i,j)

'임하나' 85.0
'김하나' 90.0
'김갑돌' 90.4